@import 'components/form/input';
@import 'components/form/button';
@import 'components/sidebar';
@import 'components/popover';
@import 'components/select';
@import 'helpers/utils';


.title {
  color: #4d4e4e;

  &-main {
    font-size: 30px;
  }
}

.mna {

  &-link {

    &:hover {
      color: darken($success-color, 25%);
      text-decoration: none;
    }
  }

  &-error-msg {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 5px;
    color: $error-color;
  }
}

.accent {
  color: $success-color;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
