@import url('~@blueprintjs/core/lib/css/blueprint.css');
@import './vaiables';
@import './components/form/input';

body {
  font-size: 16px;
  color: $text-color;
  background-color: $body-bg;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}