.mna-btn {
  padding: 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .5s ease;

  &[disabled] {
    cursor: not-allowed;
  }

  &--success {
    background-color: $success-color;
  }

  &--success-without-bg {
    color: $success-color;
    border: 1px solid $success-color;
    background-color: transparent;
      &:hover {
        background-color: $success-color;
        color: #fff;
      }
  }

  &--danger {
    background-color: $danger-color;
      &:hover {
        background-color: darken($danger-color, 5%);
      }
  }

  &--default {

  }

  &--login {
    margin: 50px 0;
  }

  &--icon {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;

    @include updateFocus;
  }

  &--ico {
    position: absolute;
    z-index: 5;
    right: 10px;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;


    @include updateFocus;
  }


  @include updateFocus;
}
